-- Création Database
-- Fast => 4 fichiers 
-- Sur Disques classiques => pERFORMANCE
-- Sauvegardes / Restaurations : peuvent être partielles (fichier par fichier)
-- Passer outre la limitation de la taille des volumes
-- Log seul sur disque ou ssd
USE master
GO

CREATE DATABASE [Ventes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ventes', FILENAME = N'C:\Disks\Ventes.mdf' , SIZE = 8192KB , FILEGROWTH = 0 ), 
 FILEGROUP [ARCHIVE] 
( NAME = N'A1', FILENAME = N'C:\Disks\A1.ndf' , SIZE = 1024000KB , FILEGROWTH = 0), 
 FILEGROUP [FAST] 
( NAME = N'F1', FILENAME = N'C:\Disks\F1.ndf' , SIZE = 1024000KB , FILEGROWTH = 0),
( NAME = N'F2', FILENAME = N'C:\Disks\F2.ndf' , SIZE = 1024000KB , FILEGROWTH = 0),
( NAME = N'F3', FILENAME = N'C:\Disks\F3.ndf' , SIZE = 1024000KB , FILEGROWTH = 0),
( NAME = N'F4', FILENAME = N'C:\Disks\F4.ndf' , SIZE = 1024000KB , FILEGROWTH = 0)
 LOG ON 
( NAME = N'Ventes_log', FILENAME = N'C:\Disks\Ventes_log.ldf' , SIZE = 1024000KB , FILEGROWTH = 0 )
GO

USE [Ventes]
GO


-- Création de la table

CREATE SCHEMA Ventes
GO
CREATE TABLE Ventes.VentesProduits
	(
	Id uniqueidentifier NOT NULL,
	CodeProduit char(5) NOT NULL,
	Prix decimal(18, 3) NOT NULL,
	FacturePDF varbinary(MAX) NULL,
	Quantite int NOT NULL
	)  ON FAST
	 TEXTIMAGE_ON ARCHIVE
GO
ALTER TABLE Ventes.VentesProduits ADD CONSTRAINT
	DF_VentesProduits_Id DEFAULT newid() FOR Id
GO
ALTER TABLE Ventes.VentesProduits ADD CONSTRAINT
	DF_VentesProduits_Quantite DEFAULT 1 FOR Quantite
GO
ALTER TABLE Ventes.VentesProduits ADD CONSTRAINT
	PK_VentesProduits PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON FAST

GO
CREATE NONCLUSTERED INDEX IX_CodeProduit ON Ventes.VentesProduits
	(
	CodeProduit
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


USE [master]
GO
--CREATE LOGIN [MIA-SQL\Comptables] FROM WINDOWS WITH DEFAULT_DATABASE=[Ventes]
GO
USE [Ventes]
GO
CREATE USER [Comptables] FOR LOGIN [MIA-SQL\Comptables]
GO

use [Ventes]
GO
-- Indirectement, les comptables ont le select sur toutes les tables du schema ventes
GRANT SELECT ON SCHEMA::[Ventes] TO [Comptables]
GO


use [Ventes]
GO
GRANT UPDATE ON [Ventes].[VentesProduits] ([Prix]) TO [Comptables]
GO
GO
DENY DELETE ON [Ventes].[VentesProduits] TO [Comptables]
GO
DENY SELECT ON [Ventes].[VentesProduits] ([Quantite]) TO [Comptables]